@model AssetManagement.Models.Employee.EmployeeViewModel

<form id="addForm" asp-controller="Employee" asp-action="Edit" method="post" asp-antiforgery="true">
    <input hidden asp-for="EmployeeUID" />
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">員工維護</h5>
        </div>
        <div class="card-body">
            <table class="inputTable">
                <tbody>
                    <tr>
                        <td class="w-25 text-right header align-bottom">
                            <label asp-for="EmployeeID"></label>
                        </td>
                        <td class="w-75">
                            <div class="row">
                                <div class="col-4">
                                    <input asp-for="EmployeeID" class="form-control" />
                                    <span asp-validation-for="EmployeeID" class="text-danger"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 text-right header align-bottom">
                            <label asp-for="EmployeePWD"></label>
                        </td>
                        <td class="w-75">
                            <div class="row">
                                <div class="col-4">
                                    <input asp-for="EmployeePWD" class="form-control" />
                                    <span asp-validation-for="EmployeePWD" class="text-danger"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 text-right header align-bottom">
                            <label asp-for="EmployeeName"></label>
                        </td>
                        <td class="w-75">
                            <div class="row">
                                <div class="col-4">
                                    <input asp-for="EmployeeName" class="form-control" />
                                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 text-right header align-bottom">
                            <label asp-for="EmployeeEmail"></label>
                        </td>
                        <td class="w-75">
                            <div class="row">
                                <div class="col-4">
                                    <input asp-for="EmployeeEmail" class="form-control" />
                                    <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center">
                <a class="btn btn-outline-secondary m-r-5" href='@Url.Action("Edit","Employee" , new { employeeGuid = Model.EmployeeUID })'>重設</a>
                <button id="saveBtn" class="btn btn-primary m-r-5" type="button">儲存</button>
            </div>
        </div>
    </div>
</form>

@section scripts{

    <script src="~/lib/jquery/dist/"></script>

    <script>

        $(() => {
            $("#saveBtn").click(function (){
                $("#addForm").submit()
            })
        })


    </script>
}